body{
    color: cornflowerblue;
}
body{
    body{
        margin-left: 800px;
        margin-right: 100px;
        margin-top: 200px;
        margin-bottom: 20px;
    }
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;
    margin-bottom: 200px;
}
p{
    font-size:50px;
}
h1{
    font-size: 100px;
}
